Допустим, ваша компания каждый месяц выделяет некоторую сумму денег на подарки сотрудникам ко дню рождения. Каждый месяц эта сумма разная. Также у вас есть список дней рождения сотрудников. Вам нужно написать удобный инструмент для того, чтобы сотрудники могли понять, сколько денег им ждать на день рождения, если известно, какой бюджет выделяется на месяц и для какого месяца производится подсчет. Для этого напишите функцию gift_count, которая будет принимать:
бюджет, который выделяется компанией на месяц
номер месяца, на который нужно произвести расчет
словарь, где ключи - это имена сотрудников, а значения - datetime.date с датой рождения сотрудника.
Функция должна вывести на экран фразу (цифры должны быть подставлены в соответствии со значениями аргументов):
Именинники в месяце 5: Иванов Иван Иванович (01.05.1989), Петров Петр Петрович (06.05.1998). При бюджете 20000 они получат по 10000 рублей.
Если в ответе получается не целое число, округлите его до меньшего целого. Именинники должны быть выведены в порядке дня рождения по возрастанию (не полной даты рождения, а именно дня). Если в выбранном месяце нет именинников, должна быть выведена строка "В этом месяце нет именинников."
 
Формат ввода
birthdays = {"Иванов Иван Иванович": datetime.date(1989, 5, 1), "Петров Петр Петрович": datetime.date(1998, 5, 6)}
gift_count(20000, 5, birthdays)
gift_count(budget=20000, month=5, birthdays=birthdays)
 
Формат вывода
Именинники в месяце 5: Иванов Иван Иванович (01.05.1989), Петров Петр Петрович (06.05.1998). При бюджете 20000 они получат по 10000 рублей.
 
Примечания
В примере формата ввода показаны несколько вариантов вызова функции gift_count: с порядковыми аргументами и с передачей их по имени. Соответственно, аргументы функции должны называться так же, как они используются в примере.

### 1

In [41]:
import datetime
def gift_count(budget, month,birthdays):
    bird_names=[]
    for name,date in birthdays.items():
        if date.month ==month:
            bird_names.append((name,date))
    if not bird_names:
        print('В этом месяце нет именинников.')
        return
    money = budget// len(bird_names)
    sorted(bird_names,key = lambda x: x[1].day)
    st=', '.join([f"{name} {datetime.datetime.strftime(date,'(%d.%m.%Y)')}" for name,date in bird_names])
    print(f'Именинники в месяце {month}: {st}. При бюджете {budget} они получат по {money} рублей.')
    return

In [42]:
birthdays = {
    "Иванов Иван Иванович": datetime.date(1989, 5, 1),
    "Петров Петр Петрович": datetime.date(1998, 5, 6),
    "Сидоров Сидор Сидорович": datetime.date(1985, 7, 15)
}

gift_count(20000, 5, birthdays)

Именинники в месяце 5: Иванов Иван Иванович (01.05.1989), Петров Петр Петрович (06.05.1998). При бюджете 20000 они получат по 10000 рублей.

In [5]:
import datetime
birthdays = {"Иванов Иван Иванович": datetime.date(1989, 5, 1), "Петров Петр Петрович": datetime.date(1998, 5, 6)}
def print_birtday(birthday):
    st=''
    for name,date in birthday.items():
        st=st.join

TypeError: 'Иванов Иван Иванович' is an invalid keyword argument for print()

In [15]:
str(birthdays['Иванов Иван Иванович'])

'1989-05-01'

In [ ]:
datetime.datetime.strftime(datetime.datetime.now(), "%a, %B %d, %Y - %H:%M:%S"

In [22]:
st=', '.join([f"{name} {datetime.datetime.strftime(date,'(%d.%m.%y)')}" for name,date in birthdays.items()])
st

'Иванов Иван Иванович (01.05.89), Петров Петр Петрович (06.05.98)'

In [23]:
len(birthdays)

2

In [28]:
birt_names=[]
for name,date in birthdays.items():
    if date.month ==5:
        birt_names.append(name)
    print(date.month)

5
5

In [34]:
sorted(birthdays,key = lambda x: x.values().day)

AttributeError: 'str' object has no attribute 'values'

In [32]:
birthdays

{'Иванов Иван Иванович': datetime.date(1989, 5, 1),
 'Петров Петр Петрович': datetime.date(1998, 5, 6)}

### 2

Вам нужно написать функцию lists_sum, которая принимает произвольное количество списков чисел, и возвращает сумму всех этих чисел. Предусмотрите дополнительный аргумент unique, который по умолчанию равен False, но если в функцию подается unique=True, то функция должна вернуть сумму всех уникальных чисел из всех списков. Если поданы только пустые списки или списки чисел вообще не поданы в функцию, то считать сумму чисел нулём.
 
Пример использования
 
lists_sum([1, 1], [1], [1, 2, 3]) # должна вернуть 9

lists_sum([1, 1, 1], [1, 1], unique=True) # должна вернуть 1

lists_sum([1, 1, 1], unique=False) # должна вернуть 3

In [51]:
def lists_sum(*lists, unique=False):
    if not unique:
        sum_lists=0
        for lis in lists:
            sum_lists+=sum(lis)
        return sum_lists
    else:
        set_lists = set()
        for lis in lists:
            set_lists.update(lis)
        return sum(set_lists)

In [52]:
lists_sum([1, 1], [1], [1, 2, 3])

9

In [53]:
lists_sum([1, 1, 1], [1, 1], unique=True)

1

### 3

В этом задании вам нужно описать несколько функций, которые будут использовать друг друга в своем коде. Функции нужно описать подряд, в одном файле, и отправить в контест все функции сразу.
 
Постановка задачи
Вы с друзьями периодически собираетесь на лавке у подъезда выпить чаю с баранками. Каждый раз собирается разное количество человек, которое должно скинуть по n рублей на мероприятие. Также у вас в компании есть общак, в который можно докинуть денег, а можно взять. Все транзакции в общак логируются, т.е. у вас есть информация о каждом переводе денег в/из общака для каждого из друзей. Ваша задача - посчитать, сколько денег должен каждый из собравшихся на мероприятие друзей на момент начала мероприятия. Будем считать, что все деньги проходят через общак, поэтому у каждого друга к началу мероприятия уже есть некоторый "баланс" в общаке.
 
Формат хранения данных
Все операции с деньгами хранятся в базе данных и приходят к вам в виде списка словарей вида:
    {"name": "Василий", "amount": 500},
    {"name": "Петя", "amount": 100},
    {"name": "Василий", "amount": -300},
]
где name - имя друга (считаем, что всех зовут по-разному), amount - сумма, которая добавлена в общак. Если сумма отрицательная - это значит, что друг взял деньги из общака. Также считаем, что скидываются суммы в рублях без копеек.
 
Вам нужно описать две функции.
get_balance(name, transactions) -> int
функция, которая возвращает текущий баланс друга с именем name, исходя из списка транзакций transactions. Если имя name ни разу не встречается в списке transactions, считаем, что баланс этого друга в общаке равен 0 рублей.
count_debts(names, amount, transactions) -> dict
функция, которая принимает список имен присутствующих на мероприятии друзей names, стоимость баранок и чая на человека amount, а также список транзакций в общак transactions. Вернуть эта функция должна словарь вида {"имя_друга": 100}, где 100 - это количество денег, которое он должен скинуть на мероприятие. Если на балансе друга больше денег, чем требуется на мероприятие, то он должен 0 рублей.
 
Формат ввода
transactions = [ {"name": "Василий", "amount": 500}, {"name": "Петя", "amount": 100}, {"name": "Василий", "amount": -300}, ]
get_balance("Василий", transactions)
count_debts(["Василий", "Петя", "Вова"], 150, transactions)
 
Формат вывода
get_balance("Василий", transactions) == 200
count_debts(["Василий", "Петя", "Вова"], 150, transactions) == {"Василий": 0, "Петя": 50, "Вова": 150}

In [65]:
def get_balance(name,transactions):
    balance = 0
    for transaction in transactions:
        if transaction['name']==name:
            balance+=transaction['amount']
    return balance
def count_debts(names, amount, transactions):
    dolg={}
    for name in names:
        dolg[name] = 0 if get_balance(name,transactions)>=amount else amount - get_balance(name,transactions)
    return dolg

In [67]:
transactions = [ {"name": "Василий", "amount": 500}, {"name": "Петя", "amount": 100}, {"name": "Василий", "amount": -300}, ] 
get_balance("Василий", transactions)
count_debts(["Василий", "Петя", "Вова"], 150, transactions)

{'Василий': 0, 'Петя': 50, 'Вова': 150}

In [ ]:
dolg={}
dolg.append()

## Продвинутый уровень

### 1

Напишите функцию calculate_cost(), которая принимает переменное количество аргументов, представляющих цены товаров в корзине, а также два именованных аргумента:
discount: процент скидки (по умолчанию 0)
delivery_type: тип доставки (по умолчанию "стандартная", может быть "экспресс")
Функция должна вычислять общую стоимость заказа с учётом следующих условий:
Доставка:
Стоимость стандартной доставки составляет 1000 рублей, если суммарная стоимость товаров в корзине меньше 5000 рублей. В противном случае доставка бесплатная.
Стоимость экспресс доставки всегда составляет 1500 рублей.
Скидка:
К общей стоимости заказа применяется скидка, заданная аргументом discount.
Функция должна возвращать конечную стоимость заказа (целое число) с учётом доставки и скидки. 
 
Пример использования
 
calculate_cost(1000, 2000, discount=10) # должна вернуть 3600
calculate_cost(5000, 1000, discount=20, delivery_type='экспресс') # должна вернуть 6000
calculate_cost(10000, 5000, 2000) # должна вернуть 17000
calculate_cost(4500) # должна вернуть 5500

In [5]:
def calculate_cost(*prices, discount=0, delivery_type='стандартная'):
    cost = sum(prices)
    if delivery_type == 'экспресс':
        cost+=1500
    elif delivery_type=='стандартная':
        if cost<5000:
            cost+=1000
    return cost - cost*discount/100

In [7]:
calculate_cost(4500) # должна вернуть 5500

5500.0

In [8]:
calculate_cost(1000, 2000, discount=10) # должна вернуть 3600

3600.0

In [9]:
calculate_cost(5000, 1000, discount=20, delivery_type='экспресс') # должна вернуть 6000

6000.0

In [10]:
calculate_cost(10000, 5000, 2000) # должна вернуть 17000

17000.0

### 2

Напишите функцию roman_to_arabic(), которая принимает на вход строку с римскими цифрами и преобразует ее в арабские. Необходимо учитывать правила преобразования римских цифр в арабские (например, "IV" = 4, "IX" = 9, "CM" = 900). Гарантируется, что входная строка представляет корректное римское число в диапазоне от 1 до 3999 включительно.
 
Пример использования
 
roman_to_arabic("IX") # должна вывести 9
roman_to_arabic("CM") # должна вывести 900
roman_to_arabic("MMMCMXCIX") # должна вывести 3999

In [41]:
def roman_to_arabic(roman: str):
    roman_values = {
        'I': 1, 'V': 5, 'X': 10, 'L': 50,
        'C': 100, 'D': 500, 'M': 1000
    }
    
    total = 0
    n = len(roman)

    for i in range(n):
        if i < n - 1 and roman_values[roman[i]] < roman_values[roman[i + 1]]:
            total -= roman_values[roman[i]]
        else:
            total += roman_values[roman[i]]
    
    return total

In [42]:
roman_to_arabic("IX")

9

In [43]:
roman_to_arabic("CM")

900

In [44]:
print(roman_to_arabic("I"))

1

In [45]:
roman_to_arabic("MMMCMXCIX") # должна вывести 3999

3999

### 3

Представьте, что вы разрабатываете систему онлайн-тестирования. Вам нужно написать функцию, которая анализирует результаты прохождения теста пользователем и определяет, на сколько вопросов он ответил верно.
Реализуйте функцию evaluate_test_attempt(test_data, attempt_data), которая принимает на вход два словаря test_data и attempt_data и возвращает словарь с результатом прохождения теста:
{
    'user_id': [ID пользователя],
    'date': [дата прохождения],
    'score': [количество правильных ответов]
}
 
Структура входных данных:
1. test_data (словарь): 
Содержит информацию о самом тесте (название теста и вопросы, c указанием типа и правильным ответом):
test_data = {
    'name': 'Тест по программированию',
    'questions': {
        1: {'type': 'multi_input', 'correct_answers': [1, 2, 3]},
        2: {'type': 'single_input', 'correct_answers': 1},
        3: {'type': 'text', 'correct_answwer': 'Интерфейс программирования приложений'}
    }
}
 
2. attempt_data (словарь): 
Содержит информацию о попытке прохождения теста пользователем (ID пользователя,  дата прохождения теста и ответы на вопросы):
attempt_data = {
    'user_id': 123,
    'date': '2023-03-15 10:30:45',
    'answers': {
        1: [1, 2],
        2: 1,
        3: 'Интерфейс программирования приложений'
    }
}
 
Логика проверки ответов:
тип single_input: Проверить, совпадает ли номер выбранного пользователем варианта ответа с номером правильного варианта ответа.
тип multi_input: Проверить, совпадают ли номера выбранных пользователем вариантов ответа с номерами правильных вариантов ответа.
тип text: Проверить, совпадает ли текст ответа пользователя с текстом правильного ответа.
 
Пример использования
 
test_data = {
    'name': 'Тест по программированию',
    'questions': {
        1: {'type': 'multi_input', 'correct_answer': [1, 2, 3]},
        2: {'type': 'single_input', 'correct_answer': 1},
        3: {'type': 'text', 'correct_answer': 'Интерфейс программирования приложений'}
    }
}

attempt_data = {
    'user_id': 123,
    'date': '2023-03-15 10:30:45',
    'answers': {
        1: [1, 2],
        2: 1,
        3: 'Интерфейс программирования приложений'
    }
}

evaluate_test_attempt(test_data, attempt_data)# должна вернуть {'user_id': 123, 'date': '2023-03-15 10:30:45', 'score': 2}

In [20]:
def evaluate_test_attempt(test_data, attempt_data):
    count_correct=0
    for i in range(1,len(test_data['questions'])+1):
        if test_data['questions'][i]['type'] == 'single_input':
            if test_data['questions'][i]['correct_answer']==attempt_data['answers'][i]:
                count_correct+=1
        elif test_data['questions'][i]['type'] == 'text':
            if test_data['questions'][i]['correct_answer']==attempt_data['answers'][i]:
                count_correct+=1
        elif test_data['questions'][i]['type'] == 'multi_input':
            if test_data['questions'][i]['correct_answer']==attempt_data['answers'][i]:
                count_correct+=1
    result = {
        'user_id': attempt_data['user_id'],
        'date': attempt_data['date'],
        'score': count_correct
    }

    return result

In [21]:
test_data = {
    'name': 'Тест по программированию',
    'questions': {
        1: {'type': 'multi_input', 'correct_answer': [1, 2, 3]},
        2: {'type': 'single_input', 'correct_answer': 1},
        3: {'type': 'text', 'correct_answer': 'Интерфейс программирования приложений'}
    }
}

attempt_data = {
    'user_id': 123,
    'date': '2023-03-15 10:30:45',
    'answers': {
        1: [1, 2],
        2: 1,
        3: 'Интерфейс программирования приложений'
    }
}

evaluate_test_attempt(test_data, attempt_data) 
# должна вернуть {'user_id': 123, 'date': '2023-03-15 10:30:45', 'score': 2}

{'user_id': 123, 'date': '2023-03-15 10:30:45', 'score': 2}

### 4

Продолжая работу над системой онлайн-тестирования, вам необходимо реализовать функцию create_rating_table, которая будет генерировать рейтинг лучших пользователей, прошедших тест.
Входные данные:
test_data (словарь): Информация о тесте (та же, что и в предыдущей задаче).
attempts_data (список словарей): Список попыток прохождения теста разными пользователями. Каждый словарь в списке содержит информацию о попытке, аналогичную attempt_data из предыдущей задачи.
Выходные данные:
Функция должна вернуть список словарей, где каждый словарь представляет собой запись в таблице рейтинга и содержит:
{
  "position": [номер позиции в рейтинге],
  "user_id": [ID пользователя],
  "max_score": [лучшая попытка - максимальное кол-во баллов],
  "date": [дата лучшей попытки]
}
 
Логика формирования рейтинга:
Рейтинг формируется по максимальному количеству правильных ответов.
Если у двух пользователей одинаковый max_score, выше в рейтинге тот, кто раньше получил max_score.
 
Примечание:
В реализации функции create_rating_table используйте функцию evaluate_test_attempt из предыдущей задачи для определения количества верных ответов в каждой попытке. Т.е. в решении должно быть две функции. Учтите, что теперь у каждого пользователя может быть несколько попыток прохождения теста, представленных отдельными словарями в attempts_data.
 
Пример использования
 
test_data = {
    'name': 'Тест по программированию',
    'questions': {
        1: {'type': 'multi_input', 'correct_answer': [1, 2, 3]},
        2: {'type': 'single_input', 'correct_answer': 1},
        3: {'type': 'text', 'correct_answer': 'Интерфейс программирования приложений'}
    }
}

attempts_data = [
    {
        'user_id': 123,
        'date': '2023-03-15 10:30:45',
        'answers': {
            1: [2, 3],
            2: 1,
            3: 'Интерфейс программирования приложений'
        }
    },
    {
        'user_id': 456,
        'date': '2023-03-16 12:00:10',
        'answers': {
            1: [1, 2],
            2: 1,
            3: 'Интерфейс программирования приложений'
        }
    },
    {
        'user_id': 123,
        'date': '2023-03-17 15:00:04',
        'answers': {
            1: [1, 2, 3],
            2: 1,
            3: 'Интерфейс программирования приложений'
        }
    }
]

create_rating_table(test_data, attempts_data) # должна вернуть [{'position': 1, 'user_id': 123, 'max_score': 3, 'date': '2024-03-17 15:00:04'}, {'position': 2, 'user_id': 456, 'max_score': 2, 'date': '2024-03-16 12:00:10'}]

In [1]:
def evaluate_test_attempt(test_data, attempt_data):
    count_correct=0
    for i in range(1,len(test_data['questions'])+1):
        if test_data['questions'][i]['type'] == 'single_input':
            if test_data['questions'][i]['correct_answer']==attempt_data['answers'][i]:
                count_correct+=1
        elif test_data['questions'][i]['type'] == 'text':
            if test_data['questions'][i]['correct_answer']==attempt_data['answers'][i]:
                count_correct+=1
        elif test_data['questions'][i]['type'] == 'multi_input':
            if test_data['questions'][i]['correct_answer']==attempt_data['answers'][i]:
                count_correct+=1
    result = {
        'user_id': attempt_data['user_id'],
        'date': attempt_data['date'],
        'score': count_correct
    }

    return result

In [26]:
def create_rating_table(test_data, attempt_data):
    best_scores={}
    for attemp in attempt_data:
        res=evaluate_test_attempt(test_data,attemp)
        user_id = res['user_id']
        date = res['date']
        score=res['score']
        if user_id not in best_scores or score > best_scores[user_id]['max_score'] or \
           (score == best_scores[user_id]['max_score'] and date < best_scores[user_id]['date']):
            best_scores[user_id] = {'max_score': score, 'date': date}
    rating_list = [
        {
            'user_id': user_id,
            'max_score': info['max_score'],
            'date': info['date']
        }
            for user_id, info in best_scores.items()]
    rating_list.sort(key=lambda x: (-x['max_score'], x['date']))
    for i, entry in enumerate(rating_list, start=1):
            entry['position'] = i    
    return entry
create_rating_table(test_data, attempts_data)

{'user_id': 456, 'max_score': 2, 'date': '2023-03-16 12:00:10', 'position': 2}

In [7]:
test_data = { 'name': 'Тест по программированию', 'questions': { 1: {'type': 'multi_input', 'correct_answer': [1, 2, 3]}, 2: {'type': 'single_input', 'correct_answer': 1}, 3: {'type': 'text', 'correct_answer': 'Интерфейс программирования приложений'} } }

attempts_data = [ { 'user_id': 123, 'date': '2023-03-15 10:30:45', 'answers': { 1: [2, 3], 2: 1, 3: 'Интерфейс программирования приложений' } }, { 'user_id': 456, 'date': '2023-03-16 12:00:10', 'answers': { 1: [1, 2], 2: 1, 3: 'Интерфейс программирования приложений' } }, { 'user_id': 123, 'date': '2023-03-17 15:00:04', 'answers': { 1: [1, 2, 3], 2: 1, 3: 'Интерфейс программирования приложений' } } ]

{1: [2, 3], 2: 1, 3: 'Интерфейс программирования приложений'}
{1: [1, 2], 2: 1, 3: 'Интерфейс программирования приложений'}
{1: [1, 2, 3], 2: 1, 3: 'Интерфейс программирования приложений'}

In [31]:
def evaluate_test_attempt(test_data, attempt_data):
    correct_answers_count = 0
    questions = test_data['questions']
    user_answers = attempt_data['answers']

    for question_id, question_info in questions.items():
        question_type = question_info['type']
        correct_answer = question_info.get('correct_answer') or question_info.get('correct_answers')
        user_answer = user_answers.get(question_id)

        if user_answer is None:
            continue

        if question_type == 'single_input':
            if user_answer == correct_answer:
                correct_answers_count += 1
        elif question_type == 'multi_input':
            if sorted(user_answer) == sorted(correct_answer):
                correct_answers_count += 1
        elif question_type == 'text':
            if user_answer.strip() == correct_answer.strip():
                correct_answers_count += 1

    return {
        'user_id': attempt_data['user_id'],
        'date': attempt_data['date'],
        'score': correct_answers_count
    }

def create_rating_table(test_data, attempts_data):
    best_scores = {}

    for attempt in attempts_data:
        result = evaluate_test_attempt(test_data, attempt)
        user_id = result['user_id']
        score = result['score']
        date = result['date']

        if user_id not in best_scores or score > best_scores[user_id]['max_score'] or \
           (score == best_scores[user_id]['max_score'] and date < best_scores[user_id]['date']):
            best_scores[user_id] = {'max_score': score, 'date': date}

    rating_list = [
        {
            'user_id': user_id,
            'max_score': info['max_score'],
            'date': info['date']
        }
        for user_id, info in best_scores.items()
    ]

    rating_list.sort(key=lambda x: (-x['max_score'], x['date']))

    result = []
    for i, entry in enumerate(rating_list, start=1):
        new_entry = {
            'position': i,
            'user_id': entry['user_id'],
            'max_score': entry['max_score'],
            'date': entry['date']
        }
        result.append(new_entry)

    return result

create_rating_table(test_data, attempts_data)

[{'position': 1,
  'user_id': 123,
  'max_score': 3,
  'date': '2023-03-17 15:00:04'},
 {'position': 2,
  'user_id': 456,
  'max_score': 2,
  'date': '2023-03-16 12:00:10'}]